[submodule "vim/vim/bundle/snipmate"]
	path = vim/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/delimitMate"]
	path = vim/vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vim/vim/bundle/jedi-vim"]
	path = vim/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/vim-sensible"]
	path = vim/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim/bundle/robotframework"]
	path = vim/vim/bundle/robotframework
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/vim/bundle/vim-json"]
	path = vim/vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ack-vim"]
	path = vim/vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-eunuch"]
	path = vim/vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/vim/bundle/vim-golang"]
	path = vim/vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/vim/bundle/vim-unite"]
	path = vim/vim/bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/vim/bundle/vim-git"]
	path = vim/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
