
snippet cout "Cout" b
fmt.Println(${0:${VISUAL}})
endsnippet

snippet tcc "Parent Convey" b
Convey("${1:desc}", t, func() {
	${0:${VISUAL}}
})
endsnippet

snippet tc "Child Convey" b
Convey("${1:desc}", func() {
	${0:${VISUAL}}
})
endsnippet

snippet jsond "JSON field with description"
\`json:"${1:displayName}" description:"${2:description}"\`
endsnippet

