
snippet log "console.log" b
console.log(${1:${2:'value'}});
endsnippet

snippet func "Object Method"
function() {
	${VISUAL}$0
}
endsnippet

snippet it "Test case" b
it('${1:description}', function() {
	${VISUAL}$0
});
endsnippet
